BEGIN;

UPDATE public.bitacora SET nombre_empresa = 'Induali' WHERE LOWER(TRIM(nombre_empresa)) IN ('induali', 'induli');

-- Verificar
SELECT nombre_empresa, COUNT(*) FROM public.bitacora WHERE nombre_empresa ILIKE '%indual%' OR nombre_empresa ILIKE '%indul%' GROUP BY nombre_empresa;

COMMIT;
